html {
  background: #00000d;
}

.content {
  width: 100%;
  text-align: center;
  display: inline-block
}

h1 {
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

li {
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  display: inline-block;
}

a {
  text-decoration: none;
}
