<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an engineer at
      <a class="underline-link" href="https://www.oneworld.com/" target="_blank" rel="noopener">Facebook</a> working on tools for content creators. 
      Previously, I worked at <b>one</b>world and before that I was Principal Software Engineer at <a class="underline-link" href="https://www.dowjones.com" rel=noopener">Dow Jones</a> 
      where I helped lead the <a class="underline-link" href="https://www.wsj.com">The Wall Street Journal</a> web team.
    </p>
  </div>
</section>
