<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      &copy;
      <span id="copyright">
          <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
      </span>
      Christian Sherland
    </div>
  </div>
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" rel="noopener" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
    </a>
    {% endfor %}
  </div>
</footer>
