<footer class="footer">
  <div class="footer__copyright">
    <p>
      &copy;
      <span id="copyright-year">
          <script>document.getElementById('copyright-year').appendChild(document.createTextNode(new Date().getFullYear()))</script>
      </span>
      Christian Sherland
    </p>
  </div>
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" rel="noopener" aria-label="{{link.title}}" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
    </a>
    {% endfor %}
  </div>
</footer>
