html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: var(--color-highlight);
  color: var(--color-accent);
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-body-text);
  font-family: $sans-serif-fonts;
  line-height: 1.5;
}

a {
  @include transition;
  text-decoration: none;
  font-weight: $font-weight-bold;
  color: inherit;
  position: relative;
  display: inline-block;
  &:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--color-accent);
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(-5px);
  }
  &:hover,
  &:focus {
    &:after {
      height: 2px;
      border-radius: 3px;
      opacity: 1;
      transform: translateY(-2px);
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.emoji {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section {
  display: flex;
  justify-content: center;
  @include tablet {
    display: block;
  }
  padding: 50px 35px;
  &__title {
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    color: var(--color-accent);
    text-transform: uppercase;
    text-align: right;
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    @include desktop {
      margin-right: 50px;
    }
    @include tablet {
      text-align: left;
      width: auto;
    }
  }
  &__content {
    font-weight: $font-weight-normal;
    font-size: $font-size-md;
    width: 100%;
    max-width: 650px;
    @include tablet {
      padding-top: 30px;
      padding-left: 25px;
    }
    p {
      margin-top: 0;
      margin-bottom: 25px;
    }
  }
}