.experience {
  .jobs {
    margin-bottom: 75px;
  }
  .job {
    margin-bottom: 25px;
    .time-place {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include mobile {
        display: block;
      }
    }
    &__company {
      font-weight: $font-weight-bold;
    }
    &__time {
      font-size: $font-size-sm;
      font-family: $monospace-fonts;
    }
  }

  .resume {
    @include tablet {
      width: 100%;
      text-align: center;
    }
  }
}
