.experience {
  .jobs {
    margin-bottom: 100px;
  }
  .job {
    margin-bottom: 25px;
    .time-place {
      display: flex;
      justify-content: space-between;
      @include mobile {
        display: block;
      }
    }
    &__company {
      font-weight: $font-weight-bold;
    }
    &__time {
      font-size: $font-size-sm;
      font-family: $monospace-fonts;
    }
  }
}
