/**
 * Color Schemes
 */
:root {
  --color-background: white;
  --color-body-text: #36363c;
  --color-highlight: #ffd460;
  --color-accent: #007bff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #2d4059;
    --color-body-text: #ffffff;
    --color-accent: #ea5455;
  }
}

// Font families
$sans-serif-fonts: 'Helvetic Neue', system, system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$monospace-fonts: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; 

// Font weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-normal: 400;
$font-weight-light: 300;

// Font sizes
$font-size-lg: 38px;
$font-size-md: 18px;
$font-size-sm: 12px;

// Sizes & Breakpoints 
$site-max-width: 1440px;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 480px;

@mixin transition {
  transition: all 0.2s ease-in-out;
}

@mixin desktop {
  @media screen and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}