.intro {
  padding: 120px 100px;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: $site-max-width;
  margin: 0 auto;
  @include tablet {
    padding: 120px 70px;
  }
  @include tablet {
    padding: 120px 50px;
  }
  @include mobile {
    padding: 70px 50px;
  }

  &__hello, &__tagline {
    font-size: 2.5rem;
    .emoji {
      width: 40px;
      height: 40px;
    }
  }
  &__hello {
    font-weight: $font-weight-light;
  }
  &__tagline {
    font-weight: $font-weight-light;
    max-width: 700px;
    .name {
      font-weight: $font-weight-bold;
    }
    .christian {
      width: 60px;
      height: 60px;
      margin-top: -7px;
      background-image: url('../img/memoji.png');
    }
  }
  &__contact {
    font-size: 1.25rem;
    font-weight: $font-weight-normal;
    @include tablet {
      font-size: 1rem;
    }
    a {
      @include transition;
      font-weight: $font-weight-normal;
      text-decoration: none;
      display: inline-block;
      padding: 2px 3px;
      text-decoration: none;
      box-shadow: inset 0 -3px 0 $blue;
      &:after {
        display: none;
      }
      &:hover {
        box-shadow: inset 0 -33px 0 0 $blue;
        color: $white;
      }
    }
  }
}
