.intro {
  padding: 120px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: $site-max-width;
  margin: 0 auto;

  @include tablet {
    padding: 70px 50px;
  }

  &__hello, &__tagline {
    font-size: $font-size-lg;
  }

  &__hello {
    font-weight: $font-weight-light;
  }

  &__tagline {
    font-weight: $font-weight-light;
    max-width: $site-max-width / 2;
    .name {
      font-weight: $font-weight-bold;
    }
    .christian {
      width: 60px;
      height: 60px;
      margin-top: -7px;
      background-image: url('../img/memoji.png');
    }
  }

  &__contact {
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    a {
      @include transition;
      font-weight: $font-weight-normal;
      display: inline-block;
      padding: 2px 3px;
      box-shadow: inset 0 -3px 0 var(--color-accent);
      &:after {
        display: none;
      }
      &:hover {
        box-shadow: inset 0 -33px 0 0 var(--color-accent);
        color: var(--color-highlight);
      }
    }
  }
}
